/multi_auth/node_modules
/multi_auth/public/hot
/multi_auth/public/storage
/multi_auth/storage/*.key
/multi_auth/vendor
/multi_auth.env
/multi_auth.env.backup
/multi_auth.phpunit.result.cache
/multi_authdocker-compose.override.yml
/multi_authHomestead.json
/multi_authHomestead.yaml
/multi_authnpm-debug.log
/multi_authyarn-error.log
/multi_auth/.idea
/multi_auth/.vscode

.idea

/multi_auth_client//node_modules
/multi_auth_client/.pnp
/multi_auth_client/.pnp.js

# testing
/multi_auth_client//coverage

# production
/multi_auth_client//build

# misc
/multi_auth_client/.DS_Store
/multi_auth_client/.env.local
/multi_auth_client/.env.development.local
/multi_auth_client/.env.test.local
/multi_auth_client/.env.production.local

/multi_auth_client/npm-debug.log*
/multi_auth_client/yarn-debug.log*
/multi_auth_client/yarn-error.log*
